@model IEnumerable<Event>

<h2>Event List</h2>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Date</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Title</td>
				<td>@item.Date.ToShortDateString()</td>
				<td>@item.Location</td>
			</tr>
		}
	</tbody>
</table>
<a asp-action="Create">Add New Event</a>
