<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventManagementSystem</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventManagementSystem.styles.css" asp-append-version="true" />
</head>
<body class="bg-gray-100 text-gray-800 flex flex-col min-h-screen">
    <header>
        <nav class="bg-white shadow-md">
            <div class="container mx-auto flex items-center justify-between p-4">
                <a class="text-xl font-bold text-gray-800 hover:text-gray-600" asp-area="" asp-controller="Home" asp-action="Index">
                    EventManagementSystem
                </a>
                <button class="lg:hidden block text-gray-800 focus:outline-none" id="navbar-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
                <div class="hidden lg:flex space-x-4" id="navbar-menu">
                    <a class="text-gray-800 hover:text-gray-600" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="text-gray-800 hover:text-gray-600" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    <a class="text-gray-800 hover:text-gray-600" asp-area="" asp-controller="Event" asp-action="Index">Event</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="flex-grow container mx-auto my-6">
        <main role="main" class="pb-6">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-white border-t text-center py-4 text-sm">
        <div class="container mx-auto">
            &copy; 2024 - EventManagementSystem -
            <a class="text-blue-600 hover:underline" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        // Toggle Navbar Menu
        document.getElementById('navbar-toggle').addEventListener('click', () => {
            const menu = document.getElementById('navbar-menu');
            menu.classList.toggle('hidden');
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
